<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ez_SQL.Properties.Settings.exampleConnectionString"
            connectionString="Data Source=JCONT-RD;Initial Catalog=example;Persist Security Info=True;User ID=tes;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>